*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

body{
    background: url('../images/money-heist.png');
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus-visible {
    outline: 0;
}

.main{
    margin-top: 35px;
    min-width: 600px;
    padding: 10px;
    background-color: #0E5E6F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.box{
    min-width: 550px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(220, 227, 116, 0.701);
    background: #FFEFD6;
    border-radius: 2px;
    margin: 10px;
}

#pass-box {
    width: 100%;
    display: inline-flex;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    justify-content: center;
}
.row{
    width: 100%;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    font-size: 17px;
}
/* to be able to select the text in the password  */
label {
    user-select: none;
}

#btn{
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    outline: 0;
    padding: 5px;
    border-radius: 4px;
}